body {
    background-color: #f8f8f8;
}

.menu {
    list-style-type: none;
}

.header {
    /*border: 1px solid red;*/
    /*background-color: white;*/
}

.logo {
    vertical-align: bottom;
    /*display: block;*/
}

.menu {
    padding: 0px;
}

.menu, .menu__item {
    display: inline;
}

.menu__item {
    /*margin-left: 1em;*/
    padding-left: 1em;
}

.menu__link {
    color: red;
    font-size: 12px;
    font-family: sans-serif;
}

.menu__link:hover {
    color: blue;
}

.product-heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.short-description:first-letter, .description:first-letter {
    color: red;
    font-size: 1.5em;
    font-family: sans-serif;
}

.product-features-list {
    list-style-image: url(images/list-item-arrow@15px.png);
    font-size: 16px;
    font-style: oblique;
    /*font-variant: small-caps;*/
}

.product-image {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.product-image:hover {
    /*border-style: none;*/
    border-color: transparent;
}

.contacts-form {
    width: 250px;
    text-align: right;
}

.contacts-form input {
    height: 15px;
    width: 150px;
    color: blue;
    font-size: 10px;
    margin-bottom: 2px;
    /*padding-right: 30px;*/
}

.contacts-form input, .contacts-form textarea {
    text-transform: capitalize;
}

.contacts-form__email:focus {
    color: white;
    background-color: black;
}

.product-features-table, .product-features-table__cell {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: left;
    padding: 0.3em;
}
th.product-features-table__cell {
    height: 2em;
    text-align: center;
}