body {
    background-color: #f8f8f8;
}

.header {
    /*border: 1px solid green;*/
    /*background-color: white;*/
    /*height: 100px;*/
    display: flex;
    justify-content: space-between;
}

.logo {
    /*vertical-align: bottom;*/
    /*display: block;*/
    /*display: flex;*/
    padding-left: 10px;
}


.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*margin-right: 20px;*/
    display: flex;
    /*flex-grow: 1;*/
    /*align-items: stretch;*/
    /*justify-content: space-around;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*height: 50px;*/
    /*height: 100%;*/
    /*flex-grow: 1;*/
}

.menu, .menu__item {
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
}

.menu__item {
    /*margin-left: 1em;*/
    /*display: inline-block;*/
    /*padding-left: 1em;*/
    /*border: 1px solid red;*/
    /*height: 100%;*/
    width: 100px;
    display: flex;
    flex-grow: 1;
    border-left: 1px solid lightblue;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*padding: 0 auto;*/
    /*padding-top: auto;*/
    /*padding-bottom: auto;*/
    /*margin: auto;*/
    /*flex-direction: row;*/
    /*flex-grow: 1;*/
}

.menu__item:first-child {
    border-left: none;
}

.menu__link {
    /*border: 1px solid black;*/
    color: red;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    /*align-content: center;*/
    align-items: center;
    /*text-align: center;*/
    /*text-align: center;*/
    /*padding: 20px;*/
    /*padding: auto;*/
    /*height: 100%;*/
}

.menu__link:hover {
    background-color: lightblue;
}

.menu__link:hover {
    color: blue;
}

.product-heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.short-description:first-letter, .description:first-letter {
    color: red;
    font-size: 1.5em;
    font-family: sans-serif;
}

.product-features-list {
    list-style-image: url(images/list-item-arrow@15px.png);
    font-size: 16px;
    font-style: oblique;
    /*font-variant: small-caps;*/
}

.product-image {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.product-image:hover {
    /*border-style: none;*/
    border-color: transparent;
}

.contacts-form {
    width: 250px;
    text-align: right;
}

.contacts-form input {
    height: 15px;
    width: 150px;
    color: blue;
    font-size: 10px;
    margin-bottom: 2px;
    /*padding-right: 30px;*/
}

.contacts-form input, .contacts-form textarea {
    text-transform: capitalize;
}

.contacts-form__email:focus {
    color: white;
    background-color: black;
}

.product-features-table, .product-features-table__cell {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: left;
    padding: 0.3em;
}
th.product-features-table__cell {
    height: 2em;
    text-align: center;
}